.promo {
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  background-image: url(/public/img/main-promo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-resolution: 2dppx) {
    background-image: url(/public/img/main-promo@2x.jpg);
  }

  @media (max-width: 780px) {
    background-color: #b1c728;
    background-image: none;
    position: relative;
    padding: 2.7em 1.5em 1em;

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      transform: translate3d(-50%, 0, 0);
      background-repeat: no-repeat;
      background-size: contain;
    }

    &::before {
      top: 8%;
      width: 91vw;
      height: 36vh;
      background-image: url(/public/img/promo-mobile.png);
      background-position: center center;

      @media (min-resolution: 2dppx) {
        background-image: url(/public/img/promo-mobile@2x.png);
      }
    }

    &::after {
      bottom: 0;
      background-image: url(/public/img/bottle.png);
      background-position: center bottom;
      width: 74vw;
      height: 50vh;
      max-height: 229px;

      @media (min-resolution: 2dppx) {
        background-image: url(/public/img/bottle@2x.png);
      }
    }
  }
}

.promo__title {
  white-space: pre-line;
  font-size: 4.375em;
  text-transform: uppercase;
  line-height: 1em;
  color: #ffffff;
  padding: 1.9em 0 0.39em;
  margin: 0 auto;
  max-width: 500px;

  @media (max-width: 780px) {
    font-size: 1.75em;
    line-height: 1.29em;
    padding: 0;
    padding-top: 2em;
    padding-bottom: 0.4em;
  }
}

.promo__button {
  background-color: #3c4497;
  color: #ffffff;
  font-size: 1.875em;
  line-height: 0.66em;
  padding: 1em 1.33em;
  margin-bottom: 9.5em;

  @media (max-width: 780px) {
    margin-bottom: 0;
    font-size: 1.25em;
    line-height: 1em;
    width: 90vw;
    max-width: 500px;
  }
}
